.data {
  color: #263238;
  font-family: inherit;
  font-weight: 600;
}

.logo {
  width: 55px;
  height: 55px;
}

.temperature {
  margin-bottom: 10px;
  text-align: center;
}

.temp {
  font-size: xx-large;
}


.humidity, .wind_speed {
  display: flex;
}